
/* CatalogCats.css */
.catalog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 16px;
  padding: 16px;
}

.catalog-item {
  flex: 1 1 calc(20% - 16px);
  max-width: 200px;
  box-sizing: border-box;
}

.catalog-card {
  cursor: pointer;
  transition: transform 0.2s;
}

.catalog-card:hover {
  transform: scale(1.05);
}



.results {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 10px;
    background-color: #fff;
  }
