body {
  background-color: #282c34;
  color: rgb(0, 0, 0);
  padding: 0px;
  font-family: Arial;
  text-align: center;
}

.root {
  display: column;
  flex-direction: row;
  flex-wrap:wrap;
  background-color: #FFFFFF;
}